.community {
    // min-height: calc(100vh - 61px);
    width: 99.8vw;
    .sidebar {
      height: calc(100vh - 61px);
      p {
        font-size: max(21px, 2vh);
      }
      p > svg {
        color: #409eff;
        margin-right: 5px;
      }
      .sid {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        height: 180px;
        p {
          margin: 0px 0;
          cursor: pointer;
          padding: 10px 0;
          padding-left: 20px;
        }
        p:hover {
          transform: translateY(-2px);
          background: #dcdfe6;
        }
      }
      .friends {
        height: calc(100vh - 61px - 49px - 180px - 45px);
        overflow-y: auto;
        position: relative;
        p {
          margin: 0px 0;
          padding-left: 20px;
        }
        .fri {
          // margin-top: 20px;
          padding-left: 2vw;
          display: flex;
          align-items: center;
          p {
            margin: 0 1.8vw;
            padding: 0;
            font-size: 2vw;
          }
          .dot {
            width: 10px;
            height: 10px;
            background: #67c23a;
            border-radius: 5px;
          }
        }
      }
    }
    .contain {
      width: 100%;
      height: 100%;
      .box-catain {
        position: relative;
        height: 100%;
        width: 100%;
      }
    }
    $phones-media: 768px;
    @media only screen and (max-width: $phones-media) {
    }
    @media only screen and (min-width: $phones-media) {
      //電腦css
    }
  }