#love {
}
.loveGroup {
    float: left;
    width: 12vw;
    height: 12vw;
    margin: 40px;
    box-shadow: 3px 3px 10px rgb(231, 228, 228);
    border-radius: 15px;
    text-align: center;
    line-height: 12vw;
}
.loveGroup:hover{
    cursor: pointer;
}
.groupimg {
    width: 12vw;
    height: 12vw;
    background-size: cover;
    opacity: 0.5;
    border-radius: 15px;
}
.groupName {
    position: relative;
    bottom: 100%;
    font-size: 20px;
    font-weight: 1000;
}