.box-card {
    margin: 20px 0;
    border-radius: 20px;
    .card-header {
      display: flex;
      .detail {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 90%;
        .el-form-item {
          margin-bottom: 11px;
        }
        .username {
          font-size: 18px;
          font-weight: 600;
        }
        .time {
          font-size: 10px;
          color: #909399;
        }
        .content{
          font-size: 16px;
        }
        .but {
          display: flex;
          justify-content: space-between;
          .el-form-item {
            margin: 0;
          }
          .upload-but {
            display: flex;
            i {
              margin: 0 5px;
              font-size: 25px;
              color: #909399;
            }
            i:hover {
              color: black;
              cursor: pointer;
            }
          }
        }
      }
    }
    .card-content {
      font-weight: 400;
      display: flex;
      justify-content: center; 
      align-items: center;
      img{
        width: 30%;
      }
    }
    .like-com {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      .icon {
        width: 30%;
        display: flex;
        justify-content: center;
        svg {
          cursor: pointer;
        }
      }
    }
    .comment {
      margin-top: 10px;
    }
  }