$phones-media: 768px;
@media only screen and (max-width: $phones-media) {
  // 手機css
}
@media only screen and (min-width: $phones-media) {
  .SingleItem {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
  }
  .ItemBox {
    width: 50%;
    float: left;
  }
  .container {
    position: relative;
    width: 100%;
  }
  .el-image {
    opacity: 1;
    display: block;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  .middle {
    width: 70%;
    height: 100%;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    display: flex;
    align-items: center;
  }
  .container:hover .image {
    opacity: 0.3;
  }
  .container:hover .middle {
    opacity: 1;
  }
  .text {
    color: black;
    font-size: 18px;
    padding: 3%;
  }
  Button{
    margin: 1%;
  }
}